

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.background{
  background-image: url('/public/img/purple.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  /* line-height: 1.7; */
  text-align: center;
  color: 000;
}

ul {
  list-style: none;
}

li {
  /* line-height: 2.2; */
}

h1,
h2,
h3 {
  margin-top:3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.sidebar{
  height: 100vh;
  width: 250px;
  background-color: blue;
}
.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 50px;
  padding: 0 0 0 20px;
  margin-top: 3rem;
  margin: auto;
}
/* .close-button {
  border:#000 1px solid;
  margin-top: 10px;
} */

.heading p {
  color: #828282;
}

#search-heading {
margin: auto;
padding: auto;
width: 100%;
}

.search-container {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#search-bar {
  height: 3rem;
  width: 64vw;
  margin-top: 1rem;
  margin: auto;
  margin-left: 20.5rem;
}

#search-btn {
  height: 3rem;
  margin-bottom: 1px;
}

.goals {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  min-width: 100%;
}

.goal {
  background-color: rgb(13, 64, 116);
  color: whitesmoke;
  border: 3px solid rgb(204, 157, 200);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px 0 10px;
}

.goal2 {
  border: 1px solid rgb(13, 64, 116);
  background-color: rgb(204, 157, 200);
  padding: 20px 0 10px;
  margin-top: 0.5rem;
  flex: 1;
  border-radius: 10px;
}

.goal .close {

  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;

}

/* .itemgaps{
  
} */

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  /* display: block; */
  margin: 0 0 5px 3px;
}

.btn-login {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
